html {
  box-sizing: border-box;
  min-width:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    color: #333; 
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

/*
******************************************************************
                  Navigation
******************************************************************
*/
.nav.navbar-nav li a {
   /*font-weight:bold;*/
   color: #000;
 }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e54243;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-header h1{
    font-variant: small-caps;
    font-size: 1em;
    font-weight: bold;
}

.light{
    font-weight: normal;
}

#nav-item{
    color:#000000;
}


/*
******************************************************************
                  Header
******************************************************************
*/

.page-marque{
    background-image: linear-gradient(rgba(0, 160, 155, 0.23), rgba(200, 30, 50, 0.23)), url(../img/LT_BG_03.png);
    /*background-color:#f8f8f8;*/
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 500px;
    margin-bottom: 2%;
    padding: 3em;
    width: 100%;
    text-align:center;
}

.page-marque img{
    user-select:none;
    margin-top:1em;
}
.page-marque h1{
    font-size:8vh;
    color: #fff;
    margin-bottom:0.4em;
    text-shadow: 2px 2px 4px #000;
}

.banner-button{
    font-family: 'montserrat';
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: .25em;
    color: #fff;
    border: 1px #fff solid;
    padding: 1rem 2rem;  
    position: relative;    
}

.banner-button:hover{
    /*color: #e35e5f;*/
    color: #fff;
    background-color: #e54243;
    border: 1px #e54243 solid;
    text-decoration: none;
}


/*
******************************************************************
                  footer
******************************************************************
*/
hr{
    color: #000;
    background-color: #000;
    height: 4px;
}

footer{
    text-align: left;
}

footer h4{
    font-weight:bold;
}

.panel{
    display: flex;
    justify-content:center;
    align-content:space-between;
}

#copyright{
    font-size: 0.8em;
}