html {
  box-sizing: border-box;
  min-width:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    color: #333; 
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

/*
******************************************************************
                  Navigation
******************************************************************
*/
.nav.navbar-nav li a {
   /*font-weight:bold;*/
   color: #000;
 }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e54243;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-header h1{
    font-variant: small-caps;
    font-size: 1.3em;
    font-weight: bold;
}

.light{
    font-weight: normal;
}

#nav-item{
    color:#000000;
}


/*
******************************************************************
                  Header
******************************************************************
*/

.page-marque{
    background-color:#f8f8f8;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    height: 500px;
    margin-bottom: 2%;
    padding: 3em;
    width: 100%;
    text-align:center;
}

.page-marque img{
    user-select:none;
    margin-top:3em;
    margin-bottom:2em;
}

.banner-button{
    font-family: 'montserrat';
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: .25em;
    color: #000;
    border: 1px #000 solid;
    padding: 1rem 2rem;  
    position: relative;    
}

.banner-button:hover{
    color: #e35e5f;
    border: 1px #e54243 solid;
    text-decoration: none;
}


/*
******************************************************************
                  footer
******************************************************************
*/

footer{
    text-align: center;
}